# Platform

/platform @SenRamakri @c1728p9 @geky

# Drivers

/drivers @bulislaw @c1728p9 @pan- @scartmell-arm @SenRamakri

# Tools

/tools @theotherjimmy

# HAL

/hal @bulislaw @c1728p9 @pan- @scartmell-arm

# Features

/features/FEATURE_BLE @pan-

/features/FEATURE_LWIP @SeppoTakalo @kjbracey-arm

/features/netsocket @SeppoTakalo @kjbracey-arm

/features/filesystem @geky @deepikabhavnani

/features/mbedtls @hanno-arm @RonEld @mazimkhan

/features/nanostack @SeppoTakalo

/features/storage @deepikabhavnani

# Targets

targets/TARGET_Analog_Devices @ARMmbed/team-analogdevices

targets/TARGET_ARM_SSG @ARMmbed/team-arm-ipg-oss

targets/TARGET_Freescale @ARMmbed/team-nxp

targets/TARGET_Maxim @ARMmbed/team-maximintegrated

targets/TARGET_NORDIC @ARMmbed/team-nordic

targets/TARGET_NUVOTON @ARMmbed/team-nuvoton

targets/TARGET_NXP @ARMmbed/team-nxp

targets/TARGET_ONSEMI @ARMmbed/team-onsemi

targets/TARGET_Realtek @ARMmbed/team-realtek

targets/TARGET_RENESAS @ARMmbed/team-renesas

targets/TARGET_Silicon_Labs @ARMmbed/team-silabs

targets/TARGET_STM @ARMmbed/team-st-mcd

targets/TARGET_TOSHIBA @ganesh-ramachandran

targets/TARGET_ublox @ARMmbed/team-ublox

targets/TARGET_WIZNET @khj098765
